



<head>
    <title>Deagan Monahan - COGS121</title>

    <link rel="stylesheet" type="text/css" href="css/component.css" />
    <!--
    <script src="js/modernizr.custom.js"></script>
    -->

    <link rel="stylesheet" type="text/css" href="css/deagan.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300,300italic' rel='stylesheet' type='text/css' />


</head>


<body>
<div class="container">

    <!-- Top bar -->
    <div class="codrops-top">

		<span class="left">
			<a>Deagan Monahan</a>
		    <a><strong></strong></a>
		</span>
        <div class="clr"></div>
    </div>
    <!--/ Top bar -->

    <header>
        <h1><span>Twitter</span> {{user.twitter_name}}</h1>
        <br>
        <nav class="codrops-demos">
            <a >Twitter Stream</a> <!--href="/twitterStream"-->

            <a href="/visualization_twitter">D3 visualization</a>
            <br><br>
            <a href="/logout">Logout </a>
        </nav>
    </header>

</div>

<!--
<p>Instagram ID: {{user.twitter_id}}</p>
<p>Name: {{user.twitter_name}}</p>
-->


<div class="container demo-1">
    <br><br>
    <ul class="grid cs-style-1">
        <li>


            <!--
            <figure>
                <img src="http://wp.production.patheos.com/blogs/tinseltalk/files/2013/04/instagram-etiquette.jpg" alt="img01">
                <figcaption>

                    <h3>Instagram Dev Page</h3>
                    <a href="https://instagram.com/developer/">Goto</a>

                </figcaption>
            </figure>
            -->


        </li>

    </ul>




</div>

</body>