<p>LinkedIn ID: {{user.linkedin_id}}</p>
<p>Name: {{user.linkedin_name}}</p> <!-- Return variable from LiIn call, not database -->


<a href="/c3visualization">view C3 visualization</a>
<br/>
<a href="/visualization">view D3 visualization</a>


