

<head>
    <title>Deagan Monahan - COGS121</title>

    <link rel="stylesheet" type="text/css" href="css/component.css" />
    <link rel="stylesheet" type="text/css" href="css/deagan.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300,300italic' rel='stylesheet' type='text/css' />


</head>

<body>
<div class="container">

    <!-- Top bar -->
    <div class="codrops-top">

		<span class="left">
			<a>Deagan Monahan</a>
		    <a><strong></strong></a>
		</span>
        <div class="clr"></div>
    </div>
    <!--/ Top bar -->

    <header>
        <h1><span>Youtube</span> D3 visualization </h1>
        <br>
        <nav class="codrops-demos">

            <a href="/visualization_twitter">C3 visualization</a>
            <br><br>
            <a href="/logout">Logout </a>
        </nav>
    </header>

</div>

<br>

<div id="chart"></div>

<script src="js/c3visualization_youtube.js"></script>
