<h1  align="center"> Youtube subscription info using C3JS </h1>

<!--
<div id="option">
    <input name="updateButton"
           type="button"
           value="Update"
           onclick="updateData()" />
</div>
-->
<br>

<div id="chart"></div>

<script src="js/c3visualization_youtube.js"></script>
